<h1>Welcome to Riyad's Ruby on Rails Site!</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>This is simply a localhost webpage to mess around with, using simple HTML code, apparently through Rails. Interesting, huh? View http://www.railsinstaller.org for the 15-min video-tutorial I used to get this up and running! No Engine Yard used to push out to a server, and am planning on using heroku.com for that service since it's free with no 500hr trial... Peace yo!</p>
